<div class="alerts">
    {% for type, messages in app.flashes %}
        <twig:Alert type="{{ type }}" messages="{{ messages }}"/>
    {% endfor %}
</div>

<style>
        .alerts {
                width: 100%;
        }
</style>

