<div class="alerts">
    {% for type, messages in app.flashes %}
        <div class="alert alert-{{ type }} show fade alert-dismissible">
            {% for message in messages %}
                    <p>
                            {{ message|trans }}
                    </p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
            {% endfor %}
        </div>
    {% endfor %}
</div>

<style>
    .alerts {
        width: 100%;
    }

    .alert p {
        text-align: center;
        &:last-child {
            margin-bottom: 0
        }
    }
</style>