{% for type, messages in app.flashes %}
    <div class="alert alert-{{ type }}">
        {% for message in messages %}
            <p>
                {{ message|trans }}
            </p>
        {% endfor %}
    </div>
{% endfor %}

<style>
    .alert p {
        text-align: center;
        &:last-child {
            margin-bottom: 0
        }
    }
</style>