<aside class="right-aside-menu">
    <div class="right-aside-menu-block pages-and-profiles">
        <h3>Your Pages and Profiles</h3>
        <a href="#">
            <div>
                <twig:ux:icon name="ic:baseline-plus" />
            </div>
            <span>
                Create new Page
            </span>
        </a>
    </div>
    <div class="right-aside-menu-block group-conversations">
        <h3>Group Conversations</h3>
        <a href="#">
            <div>
                <twig:ux:icon name="ic:baseline-plus" />
            </div>
            <span>
                Create new Group
            </span>
        </a>
    </div>
</aside>